<div class="container-fluid" align="center" style="width: 100%" >
    <div class="panel panel-primary" align="center" ng-form="formFactExportacion">
        <div class="panel-heading">
            <h3 class="panel-title">EMISI&Oacute;N FACTURA COMERCIAL DE EXPORTACI&Oacute;N</h3>
        </div>
        <div class="panel-body">
            <div class="well" style="border-color: #286090">
                <div class="row" align="left">
                    <div class="col-sm-12">
                        <label class="inline">Actividad Económica:&nbsp;</label>
                        <label class="inline"><h4>{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcActividadEconomica.descripcion|uppercase}}</h4></label>
                    </div>
                </div>
                <div class="row" align="left">
                    <div class="col-sm-3">
                        <label class="control-label">Sucursal:&nbsp;</label>
                        <label class="control-label"><h4>{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.descripcion|uppercase}}</h4></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Facturación:</label>
                        <label class="control-label"><h4>{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.parModalidadFacturacion.descripcion|uppercase}}</h4></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="nroFact">N° Factura:&nbsp;
                            <input type="text" class="form-control" style="font-size:18px" id="nroFact" size="10" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.numeroFactura" disabled></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="nroAuto">N° Autorización:&nbsp;
                            <input type="text"
                                   class="form-control"
                                   style="font-size:18px"
                                   id="nroAuto"
                                   size="10"
                                   ng-model="facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.numeroAutorizacion" disabled required></label>
                    </div>
                </div>
                <hr style="margin-top: 0 !important;">
                <div class="row" align="center">
                    <div class="col-sm-6" >
                        <label class="control-label" align="left">*Modalidad Transacción:&nbsp;
                            <label class="radio-inline" for="radios-0" align="right" >
                                <input type="radio"
                                       name="parModCodigo"
                                       ng-model="facturaEmitidaPojo.cpcFacturaEmitida.parModalidadTransaccion.codigo"
                                       id="radios-0"
                                       value="CONT" ng-disabled="modo.valor"/>
                                Contado
                            </label>
                            <label class="radio-inline" for="radios-1" align="right">
                                <input type="radio"
                                       name="parModCodigo"
                                       ng-model="facturaEmitidaPojo.cpcFacturaEmitida.parModalidadTransaccion.codigo"
                                       id="radios-1"
                                       value="CRED" ng-disabled="modo.valor"/>
                                Crédito
                            </label>
                        </label>
                    </div>
                    <div class="col-sm-6" readonly>
                        <label class="control-label" align="left">*Tipo Transacción:&nbsp;
                            <label class="radio-inline" for="rad-0" align="right" readonly>
                                <input type="radio" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.parTipoTransaccion.codigo" id="rad-0" value="VENT" ng-disabled="modo.valor">
                                Ventas
                            </label>
                            <label class="radio-inline" for="rad-1" align="right" readonly>
                                <input type="radio" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.parTipoTransaccion.codigo" id="rad-1" value="EXPO" ng-disabled="modo.valor">
                                Exportaciones
                            </label>
                            <label class="radio-inline" for="rad-2" align="right" readonly>
                                <input type="radio" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.parTipoTransaccion.codigo" id="rad-2" value="OTR" ng-disabled="modo.valor">
                                Otros
                            </label>
                        </label>
                    </div>
                </div>
                <hr/>
                <div class="row" align="left">
                    <div class="col-sm-3">
                        <label class="control-label" for="nroContrato">N° Contrato:&nbsp;
                            <input type="text"
                                   align="right"
                                   class="form-control"
                                   style="font-size:18px;text-transform: uppercase"
                                   id="nroContrato"
                                   ng-model="facturaEmitidaPojo.cpcFacturaEmitida.nroContrato"
                                   ng-disabled="modo.valor"></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="nroFactHuawei">N° Factura Huawei:&nbsp;
                            <input name="nroFactHuawei"
                                   type="text"
                                   class="form-control"
                                   style="font-size:18px"
                                   id="nroFactHuawei"
                                   ng-model="facturaEmitidaPojo.cpcFacturaEmitida.nroFacturaInterno"
                                   ng-readonly="modo.valor"/></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="referencia">Referencia:&nbsp;
                            <input name="referencia"
                                   type="text"
                                   class="form-control"
                                   style="font-size:18px;text-transform: uppercase"
                                   id="referencia"
                                   ng-model="facturaEmitidaPojo.cpcFacturaEmitida.referencia"
                                   ng-readonly="modo.valor"/></label>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Fecha Aceptación:&nbsp;&nbsp;
                            <input name="fechaAceptacion"
                                   type="date"
                                   class="form-control"
                                   style="font-size:18px"
                                   id="fechaAceptacion"
                                   ng-model="facturaEmitidaPojo.cpcFacturaEmitida.fechaAceptacion"
                                   ng-readonly="modo.valor"/></label>
                    </div>

                </div>
            </div><!--Fin encabezado-->
            <!--Logo-Datos Empresa-->
            <div class="row" align="center">
                <div class="col-sm-4 pull-right" style="margin-right: 15px !important;">
                    <br /> <br />
                    <div class="row well">
                        <div class="col-sm-7" align="left">
                            <label class="control-label" align="left">NIT:</label><br />
                            <label class="control-label">N° Factura:</label><br />
                            <label class="control-label">N° Autorización:</label>
                        </div>
                        <div class="col-sm-5" align="left">
                            <label class="control-label">{{datosEmpresa.nit}}</label><br />
                            <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.numeroFactura}}</label><br />
                            <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.numeroAutorizacion}}</label>
                        </div>
                    </div>
                    <br />
                    <label class="control-label">Actividad Económica: {{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcActividadEconomica.descripcion|uppercase}}</label><br/>
                </div>
                <div class="col-sm-1 pull-right">
                </div>
                <div class="col-sm-6 pull-left" align="center" style="line-height: 50%">
                    <img src="images/huaweiLogo.jpg" class="img-responsive" alt="Logo" width="100" height="50">
                    <small>
                        <label class="control-label">{{datosEmpresa.razonSocial}}</label><br/>
                    </small>
                    <small style="line-height: 50%" ng-if="mostrar.datosSucursal">
                        <label class="control-label">{{sucursalCasaMatriz.descripcion}}</label><br/>
                        <label class="control-label">{{sucursalCasaMatriz.direccion|uppercase}}</label><br/>
                        <label class="control-label">{{sucursalCasaMatriz.parLocalizacion.descripcion|uppercase}}{{sucursalCasaMatriz.nombreLocalizacion|uppercase}}</label><br/>
                        <label class="control-label">TEL&Eacute;FONO(S): {{sucursalCasaMatriz.telefonoUno}} {{sucursalCasaMatriz.telefonoDos}}</label><br/>
                        <label class="control-label">{{sucursalCasaMatriz.parDepartamento.descripcion}}-BOLIVIA</label><br/>
                    </small>
                    <small>
                        <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.descripcion}}</label><br/>
                        <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.direccion|uppercase}}</label><br/>
                        <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.parLocalizacion.descripcion|uppercase}} {{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.nombreLocalizacion|uppercase}}</label><br/>
                        <label class="control-label">TEL&Eacute;FONO(S):{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.telefonoUno}} {{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.telefonoDos}}</label><br/>
                        <label class="control-label">{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.parDepartamento.descripcion}}-BOLIVIA</label><br/>
                    </small>
                </div>
            </div><!--fin row logo y datos empresa-->
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label"><h4><b>FACTURA COMERCIAL DE EXPORTACI&Oacute;N</b></h4></label>
                </div>
            </div><!--fin factura-->

            <div class="row">
                <div class="col-sm-12" align="center">
                    <div class="panel panel-default" align="center">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-7" align="left">
                                    <label class="form-inline">*Lugar y Fecha:&nbsp;&nbsp;&nbsp;{{facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.cpcSucursal.parDepartamento.descripcion+ ', '}}
                                        <input type="date"
                                               class="form-control"
                                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.fechaFactura"
                                               required
                                               align="right"
                                               width="177" style="width: 177px"
                                               ng-disabled="modo.valor"/>
                                    </label><br />
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-1" align="left">
                                    <label class="control-label">*Señor(es):</label>
                                </div>
                                <div class="col-sm-7" align="right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input class="form-control"
                                               name="seniores"
                                               type="search"
                                               ng-model="cliSeleccionado"
                                               ng-change="clienteSeleccionado(cliSeleccionado)"
                                               list="listaclientes"
                                               ng-disabled="modo.valor"
                                               placeholder="Buscar Cliente ..." autofocus="true" required/>
                                    </div>
                                    <datalist id="listaclientes">
                                        <option ng-repeat="cliente in clientes" data-id="{{cliente.idProveedorCliente}}">{{cliente.nombre}}</option>
                                    </datalist>
                                </div>
                                <div class="col-sm-1" align="right">
                                    <label class="control-label">NIT:</label>
                                </div>
                                <div class="col-sm-3" align="right">
                                    <input type="text" class="form-control text-right" id="nitcliente" value="0" readonly>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-2" align="left">
                                    <label class="control-label">*Dirección importador:</label>
                                </div>
                                <div class="col-sm-10" align="right">
                                    <textarea rows="1" cols="50" class="form-control" ng-model="datosCliente.direccion" readonly></textarea>
                                </div>
                            </div> <br />
                            <div class="row">
                                <div class="col-sm-1" align="left">
                                    <label class="control-label">*INCOTERM:</label>
                                </div>
                                <div class="col-sm-2" align="right">
                                    <input type="text" class="form-control text-right" id="incoterm" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.incoterm" ng-disabled="modo.valor" required/>
                                </div>
                                <div class="col-sm-2" align="right">
                                    <label class="control-label">*Puerto Destino:</label>
                                </div>
                                <div class="col-sm-3" align="right">
                                    <input type="text" class="form-control text-right" id="puerto" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.puertoDestino" ng-disabled="modo.valor" required>
                                </div>
                                <div class="col-sm-2" align="right">
                                    <label class="control-label">Tipo Cambio:</label>
                                </div>
                                <div class="col-sm-2" align="right">
                                    <input type="text" class="form-control text-right" id="tipoCambio" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.tipoCambioFactura" ng-disabled="modo.valor">
                                </div>
                            </div>
                            <!--<div class="row">
                              <div class="col-sm-2" align="left">
                                    <label class="control-label">*Moneda Transacción Comercial:</label>
                                </div>
                                <div class="col-sm-4" align="right">
                                    <input type="text" class="form-control text-right" id="moneda" >
                                </div>
                                <div class="col-sm-2" align="right">
                                    <label class="control-label">Tipo Cambio:</label>
                                </div>
                                <div class="col-sm-4" align="right">
                                    <input type="text" class="form-control text-right" id="tipoCambio" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.tipoCambioFactura">
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-sm-3" align="center" style="margin-left: 76%;">
                <div class="form-control btn btn-primary"
                     ngf-select=""
                     accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheetapplication/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                     ngf-change="importarXLS($files)"
                     ngf-multiple="false"><i class="glyphicon glyphicon-import"></i>&nbsp;Importar de Excel</div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-12" align="center">
                    <div class="gridStyles break-words" ng-grid="gridOptions" style="width: 100%;height: 300px"></div>
                </div>
            </div>
            <div class="row well" >
                <div class="col-sm-8" align="left">

                    <label class="form-inline" for="codigoControl">Código de Control:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" id="codigoControl" size="16" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.codigoControl" readonly></label>
                    <br/>
                    <label class="form-inline" for="fechaVencimiento">Fecha Límite Emisión:&nbsp;
                        <input type="date" class="form-control" id="fechaVencimiento" ng-model="facturaEmitidaPojo.cpcFacturaEmitida.cpcDosificacion.fechaLimiteEmision" disabled></label>
                </div>
                <div class="col-sm-4" align="right" style="padding-right: 0%;!important">
                    <label class="form-inline">Gastos de Transp. hasta Frontera:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="gastoTransporte"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.gastosTransporte"
                               style="width:27%;"
                               ng-blur="calcularTotalFOB();calcularTotal()"
                               ng-disabled="modo.valor || formValidado.inputsDeshabilitados"
                               currency-input decimals="2" />
                    </label><br />
                    <label class="form-inline">Gastos de Seguro hasta Frontera:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="gastoSeguro"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.gastosSeguro"
                               style="width:27%;"
                               ng-blur="calcularTotalFOB(); calcularTotal()"
                               ng-disabled="modo.valor || formValidado.inputsDeshabilitados"
                               currency-input decimals="2"/>
                    </label> <br />
                    <label class="form-inline">TOTAL F.O.B.:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="totalFob"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.totalFob"
                               style="width:27%;"
                               currency-input decimals="2" disabled/>
                    </label><br />
                    <label class="form-inline">Transporte Internacional:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="transporteInter"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.transporteInternacional"
                               ng-blur="calcularTotal()"
                               style="width:27%;"
                               ng-disabled="modo.valor || formValidado.inputsDeshabilitados"
                               currency-input decimals="2" />
                    </label><br />
                    <label class="form-inline">Seguro Internacional:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="seguroInter"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.seguroInternacional"
                               ng-blur="calcularTotal()"
                               style="width:27%;"
                               ng-disabled="modo.valor || formValidado.inputsDeshabilitados"
                               currency-input decimals="2"/>
                    </label><br />
                    <label class="form-inline">Otros:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text"
                               class="form-control text-right"
                               id="otros"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.otrosGastos"
                               ng-blur="calcularTotal()"
                               style="width:27%;"
                               ng-disabled="modo.valor || formValidado.inputsDeshabilitados"
                               currency-input decimals="2"/>
                    </label><br />
                    <label class="form-inline">T O T A L:&nbsp;<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                        <input type="text"
                               class="form-control text-right"
                               id="total"
                               ng-model="facturaEmitidaPojo.cpcFacturaEmitida.montoSegundaMoneda"
                               style="width:37%;"
                               currency-input decimals="2" disabled/>
                    </label>
                </div>
            </div>
            <div class="footer" align="center">
                <button id="guardar" name="guardar"
                        class="btn btn-success" align="center"
                        ng-class="{disabled:formFactExportacion.$invalid}"
                        ng-disabled="formFactExportacion.$invalid"
                        ng-if="!facturaGrabada"
                        ng-click="guardarFactura()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>
                <button id="imprimir" name="imprimir"
                        class="btn btn-success" align="center"
                        ng-if="facturaGrabada"
                        ng-click="visualizarPDF()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Imprimir</button>
                <button id="cancelar" name="cancelar" class="btn btn-default" align="center" ng-click="cancelarFactura()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</button>
            </div>
        </div><!--fin panel body-->
    </div><!--fin panel primary-->
</div><!--fin contenedor-->
