<div>
    <div class="panel-list-container">
        <div class=" panel panel-primary custom-panel" align="left">
            <div class="panel-heading">
                <h3 class="panel-title" align="center">CLIENTES
            <span style="cursor: pointer;">
              <i class="fa fa-plus pull-right" ng-click="registroNuevoCliente()"></i>
            </span></h3>
            </div>
            <div class="panel-body" style="top:40px;">
                <angular-tree-grid tree-config="treeConfig">
                </angular-tree-grid>
                <sin-registros ng-if="treeConfig && (!treeConfig.collection || treeConfig.collection.length == 0)"></sin-registros>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div ui-view="" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;"></div>
    </div>
</div>