<!--<div class="modal-header bg-primary">-->
<!--<h4 class="modal-title">Detalle Nota Crédito Débito</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<div class="gridStyles" ng-grid="gridOptionsNotaDebitoCredito"-->
<!--style="width: 100%;height: 200px">-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--</div>-->
<!--<div class="modal-footer header-center" align="center">-->
<!--<button class="btn btn-success" ng-click="seleccionarActividadEconomica()">-->
<!--<span class="glyphicon glyphicon-tags"></span>&nbsp;Seleccionar-->
<!--</button>-->
<!--<button class="btn btn-default" ng-click="cancelar()">-->
<!--<span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Volver-->
<!--</button>-->
<!--</div>-->


<div class="modal-header bg-primary" width="50%">
    <h4 class="modal-title">Detalle Nota Crédito Débito</h4>
</div>
<div class="modal-body" align="center">
    <div class="row row-fluid" align="left">
        <div class="col-sm-12" align="center">
            <div class="gridStyles break-words" ng-grid="gridOptionsNotaDebitoCredito"
                 style="width: 100%;height: 200px"></div>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>
<div class="modal-footer header-center" align="center">
    <button class="btn btn-success btn-md" ng-click="continuar()">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;Continuar
    </button>
</div>