<div class="modal-header bg-primary" width="50%">
    <h4 class="modal-title">Registro de Contrato</h4>
</div>
<div class="modal-body">
    <div align="center" style="padding:1em 2.2em">
        <h4 class="modal-title" align="left">Usted debe registrar:</h4>

        <div class="alert alert-info" ng-show="validaListaActividadEconomica" role="alert" align="left">'Actividad Económica'</div>
        <div class="alert alert-info" ng-show="validaListaClientes" role="alert" align="left">'Clientes'</div>
        <div class="alert alert-info" ng-show="validaListaServicioBienes" role="alert" align="left">'Servicios o Bienes'</div>


        <!--<h4>Datos requeridos para crear un CONTRATO</h4>-->

        <!--<div class="blockquote-box clearfix" ng-show="validaListaActividadEconomica">-->
            <!--<div class="square pull-left">-->
                <!--<img src="/images/ActividadEconomicaIco.png" alt="" class=""/>-->
            <!--</div>-->
            <!--<h4>Actividad Económica</h4>-->

            <!--<p>-->
                <!--Es necesario registrar 'Actividad Económica'.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="blockquote-box clearfix"  ng-show="validaListaClientes" >-->
            <!--<div class="square pull-left">-->
                <!--<img src="/images/ClienteIco.png" alt="" class=""/>-->
            <!--</div>-->
            <!--<h4>Clientes</h4>-->

            <!--<p>-->
                <!--Es necesario registrar 'Clientes'.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="blockquote-box clearfix" ng-show="validaListaServicioBienes">-->
            <!--<div class="square pull-left">-->
                <!--<img src="/images/BienesServiciosIco.png" alt="" class=""/>-->
            <!--</div>-->
            <!--<h4> Servicios o Bienes</h4>-->

            <!--<p>-->
                <!--Es necesario registrar 'Servicios o Bienes'.-->
            <!--</p>-->
        <!--</div>-->
    </div>
</div>
<div class="modal-footer header-center" align="center">
    <button class="btn btn-success" ng-click="continuar()">
        <span class="glyphicon glyphicon-tags"></span>&nbsp;Continuar
    </button>
</div>