<div class="modal-header bg-primary" width="50%">
    <h4 class="modal-title">Mensaje Advertencia</h4>
</div>
<div class="modal-body">
    <div class="blockquote-box blockquote-warning clearfix">
        <p>
            Se perderan todos los registros del listado "DETALLE DE LA DEVOLUCIÓN O RESCISIÓN DE SERVICIOS".
        </p>
        <br>
        <p>
            <h5><b> Desea continuar.</b></h5>
        </p>
    </div>

</div>
<div class="modal-footer header-center" align="center">
    <button class="btn btn-success" ng-click="confirmar()">
        <span class="glyphicon glyphicon-ok"></span>&nbsp;Confirmar
    </button>
    <button class="btn btn-default" ng-click="cancelar()">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Cancelar
    </button>
</div>