<div>
  <div class="panel-list-container">
    <div class=" panel panel-primary custom-panel">
      <div class="panel-heading" align="center">
        <h3 class="panel-title">BIENES O SERVICIOS
            <span style="cursor: pointer;" ng-click="addServicio()">
            <i class="fa fa-plus pull-right"></i>
            </span>
        </h3>
      </div>
      <div class="panel-body" style="top:40px;">
        <angular-tree-grid tree-config="treeServicioConfig">
        </angular-tree-grid>
        <sin-registros ng-if="treeConfig && (!treeConfig.collection || treeConfig.collection.length == 0)"></sin-registros>
      </div>
    </div>
  </div>

  <div class="body-container">
      <div ui-view="servicio-panel"></div>
  </div>
</div>
