<div class="modal-header">
    <h3 class="panel-title">Mensaje</h3>
</div>
<div class="modal-body">
    <div align="center" style="padding:1em 2.2em">

        <div class="panel panel-primary" style="width: 100%;padding:1em 1em" align="center">
            <div class="panel-heading" align="center">
                <h3 class="panel-title">CONFIRMACIÓN</h3>
            </div>
            <br>

            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                </div>
                <h4>Importante</h4>

                <p>
                    {{mensaje}}
                </p>

            </div>

            <div cltipoass="footer" align="center" style="padding:1em 1em;">
                <button class="btn btn-info" ng-click="eliminaCriterioIngreso()">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;Confirmar
                </button>
                <button class="btn btn-default" ng-click="cancelarEliminacionCriterioIngreso()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar
                </button>
            </div>
            <br>
        </div>
    </div>
</div>