<div class="panel panel-primary page-container reduced-container"
     align="center">
    <div class="panel panel-primary" align="center">
        <div class="panel-heading">
            <h3 class="panel-title">CONFIGURACIÓN</h3>
        </div>
        <div class="panel-body" style="padding: 1em 1em 0 1em;position: absolute;top: 42px;left:0;right:0;bottom: 0;overflow-y: auto;">
            <tabset >
                <tab>
                    <tab-heading>
                        DATOS GENERALES
                    </tab-heading>
                    <div ng-include src="'modules/rh/views/parametrosGenerales.html'"></div>
                </tab>
                <tab disabled="activar.tab">
                    <tab-heading>
                        APORTES PATRONALES
                    </tab-heading>
                    <div ng-include src="'modules/rh/views/parametrosPatronales.html'"></div>
                </tab>
                <tab disabled="activar.tab">
                    <tab-heading>
                        APORTES LABORALES
                    </tab-heading>
                    <div ng-include src="'modules/rh/views/parametrosLaborales.html'"></div>
                </tab>
                <!--<tab disabled="activar.tab">-->
                <!--<tab disabled="activar.tab">-->
                <!--<tab-heading>-->
                <!--Datos Adicionales-->
                <!--</tab-heading>-->
                <!--<div ng-include src="'modules/cxc/views/datosAdicionalesCliente.html'"></div>-->
                <!--</tab>-->
                <!--<tab>-->
                <!--<tab-heading>-->
                <!--Cuentas Bancarias-->
                <!--</tab-heading>-->
                <!--<div ng-include src="'modules/cxc/views/cuentasBancariasCliente.html'"></div>-->
                <!--</tab>-->
                <!--<tab disabled="activar.tab">
                    <tab-heading>
                        Asignar Conceptos
                    </tab-heading>
                    <div ng-include src="'modules/cxp/views/proveedorConcepto.html'"></div>
                </tab>-->
            </tabset>
        </div>

    </div>
</div>
