<div class="container-fluid">
  <div class="panel panel-primary custom-panel">
    <div class="panel-heading">
      <h3 class="panel-title">CONCEPTOS
      <span style="cursor: pointer;" ng-click="addConcepto()">
        <i class="fa fa-plus pull-right"></i>
      </span>
        <!--<span class="circle-btn pull-right" ng-click="addGrupo()">
        </span>-->
      </h3>
    </div>
    <div class="panel-body">
      <div class="item-row" ng-repeat="concepto in conceptos" ng-click="viewGroupDetail(concepto)">
        {{concepto.descripcion}}
      </div>
      <div ng-if="conceptos && conceptos.length < 1">No existen registros.</div>
    </div>
  </div>
</div>