<div class="container-fluid" align="center" style="width: 100%">
    <div class="panel panel-primary" align="center">
        <div class="panel-heading">
            <h3 class="panel-title">REGISTRO DE RETENCIONES</h3>
        </div>
        <div class="panel-body" ng-form="retencionForm">
            <div class="well" style="border-color: #286090">
                <div class="row" align="left">
                    <div class="col-sm-6">
                        <label class="form-inline" for="tipoTran">* Tipo Transacción:&nbsp;
                            <select class="form-control"
                                    id="tipoTran"
                                    ng-disabled="activaCampo"
                                    name="tipoTran"
                                    ng-model="cpcRetencion.parTipoTransaccion.codigo" required>
                                <option value="">&nbsp;</option>
                                <option ng-repeat="transaccion in listaTransacciones"
                                        value="{{transaccion.codigo}}" label="{{transaccion.descripcion}}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label" align="center">* Modalidad Transacción:&nbsp;
                            <label class="radio-inline" for="rad-0" align="right">
                                <input type="radio"
                                       name="parModCodigo"
                                       ng-disabled="activaCampo"
                                       ng-model="cpcRetencion.parModalidadTransaccion.codigo"
                                       id="rad-0"
                                       required
                                       value="CONT" readonly>
                                Contado
                            </label>
                            <label class="radio-inline" for="rad-1" align="right" readonly>
                                <input type="radio"
                                       name="parModCodigo"
                                       ng-disabled="activaCampo"
                                       ng-model="cpcRetencion.parModalidadTransaccion.codigo"
                                       id="rad-1"
                                       required
                                       value="CRED" readonly>
                                Credito
                            </label>
                        </label>
                    </div>
                </div>
                <div class="row" align="left" style="padding:0.2em 0em">
                    <div class="col-sm-6">
                        <label class="form-inline" for="nroRetencionInterno">N° Factura Huawei (Entry Item):&nbsp;
                            <input name="nroFactHuawei"
                                   type="text"
                                   ng-disabled="activaCampo"
                                   class="form-control"
                                   style="font-size:18px"
                                   id="nroRetencionInterno"
                                   size="10"
                                   ng-model="cpcRetencion.nroRetencionInterno"
                                   ng-readonly="modo.valor"/></label>
                    </div>
                    <div class="col-sm-5">

                        <label class="form-inline" for="fecha">* Fecha Registro&nbsp;:
                            <div class="input-group">
                                <input id="fecha" type="date" class="form-control"
                                       ng-disabled=true
                                       ng-model="cpcRetencion.fechaRegistro" align="right" required/>
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <!--Fin encabezado-->
            <div class="row" align="left" style="padding:0.1em 0em">
                <div class="col-sm-6">
                    <label class="form-inline" for="departamento">* Departamento&nbsp;:
                        <select id="departamento" name="departamento" class="form-control"
                                ng-model="cpcRetencion.erpAplicante.erpDepartamento.idDepartamento"
                                ng-change="seleccionaAplicantesPorDepartamentoCombo()" ng-disabled="activaCampo"
                                required>
                           <!-- <option value="" label="[Seleccione Departamento]"></option>-->
                            <option ng-repeat="departamento in listaDepartamento"
                                    ng-selected="departamento.idDepartamento== cpcRetencion.erpAplicante.erpDepartamento.idDepartamento"
                                    value="{{departamento.idDepartamento}}">
                                {{departamento.descripcion}}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="form-inline" for="sucursal">* Aplicante&nbsp;:
                        <select id="sucursal" name="sucursal" class="form-control"
                                ng-disabled="activaCampo"
                                ng-model="cpcRetencion.erpAplicante.idAplicante" required>
                           <!-- <option value="" label="[Seleccione Aplicante]"></option>-->
                            <option ng-repeat="aplicante in listaAplicante"
                                    ng-selected="aplicante.idAplicante== cpcRetencion.erpAplicante.idAplicante"
                                    value="{{aplicante.idAplicante}}">
                                {{aplicante.nombreCompleto}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row" align="left" style="padding:0.1em 0em">
                <div class="col-sm-6">
                    <label class="form-inline">* Proveedor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   width="300" style="width: 300px"
                                   ng-model="valores.nombreRazonSocial"
                                   placeholder="Buscar ..." required readonly/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"
                                        ng-click="modalBuscadorProveedoresRetenciones()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="form-inline" for="nit">&nbsp;NIT/CI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                        <input name="nroFactHuawei"
                               type="text"
                               class="form-control"
                               style="font-size:18px"
                               id="nit"
                               size="10"
                               ng-model="valores.nit"
                               ng-readonly="modo.valor"
                               disabled/></label>
                </div>
            </div>
            <hr>
            <!--<div class="row" align="left">-->
            <!--<div class="col-sm-4"></div>-->
            <!--<div class="col-sm-4">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><label>Número Factura Huawei&nbsp;:</label></span>-->
            <!--<input type="text" class="form-control"-->
            <!--ng-disabled="activaCampo"-->
            <!--ng-model="cpcFacturaEmitida.nombre"-->
            <!--required>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4"></div>-->
            <!--</div>-->
            <!--<hr>-->

            <div class="row" align="left">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-12">

                        <label class="control-label">* Tipo Retención:&nbsp;
                            <div ng-repeat="retencion in listaRetencion" style="padding:0.1em 10em">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="radio"
                                       ng-model="cpcRetencion.parTipoRetencion.codigo"
                                       ng-change="eventoCalculaRetencionBOB()"
                                       name="parTipoMoneda"
                                       ng-value="retencion.codigo" required/>
                                {{retencion.descripcion}}
                            </div>
                        </label>
                    </div>

                    <div class="col-sm-12" align="left">
                        <label class="control-label">* Aplicar:&nbsp;
                            <div ng-repeat="aplicacionRetencion in listaAplicacionRetencion" style="padding:0.1em 10em">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="radio"
                                       ng-model="cpcRetencion.parTipoAplicacionRetencion.codigo"
                                       ng-change="eventoCalculaRetencionBOB()"
                                       name="parTipoAplicacionRetencion"
                                       ng-value="aplicacionRetencion.codigo" required/>
                                {{aplicacionRetencion.descripcion}}
                            </div>
                        </label>
                    </div>
                    <div class="col-sm-12" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>* Concepto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label></span>
                            <input type="text" class="form-control"
                                   ng-model="cpcRetencion.concepto"
                                   ng-blur="eventoCalculaRetencionBOB()"
                                   ng-disabled="activaCampo"
                                   required>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>* Monto (BOB)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label></span>
                            <input type="text" class="form-control" style=" text-align: right"
                                   ng-model="cpcRetencion.montoPrimeraMoneda"
                                   ng-blur="eventoCalculaRetencionBOB()"
                                   ng-disabled="activaCampo"
                                   currency-input decimals="2" required>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>&nbsp; IUE (BOB)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label></span>
                            <input type="text" class="form-control" style=" text-align: right"
                                   ng-model="cpcRetencion.iuePrimeraMoneda"
                                   currency-input decimals="2" disabled>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>&nbsp; IT (BOB)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label></span>
                            <input type="text" class="form-control" style=" text-align: right"
                                   ng-model="cpcRetencion.itPrimeraMoneda"
                                   currency-input decimals="2" disabled>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>&nbsp; RC - IVA
                                (BOB)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label></span>
                            <input type="text" class="form-control" style=" text-align: right"
                                   ng-model="cpcRetencion.ivaPrimeraMoneda"
                                   currency-input decimals="2" disabled>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:0.2em 0em">
                        <div class="input-group">
                            <span class="input-group-addon"><label>&nbsp; Remanente (BOB):</label></span>
                            <input type="text" class="form-control" style=" text-align: right"
                                   ng-model="cpcRetencion.montoRemanentePrimeraMoneda"
                                   currency-input decimals="2" disabled>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2">
                </div>
            </div>


            <hr>


            <br/>
            <hr/>
            <div class="footer">
                <button ng-class="{disabled: retencionForm.$invalid}"
                        ng-disabled="retencionForm.$invalid"
                        ng-show="activaBotonGuarda"
                        id="guardar" name="guardar" class="btn btn-success" align="center"
                        ng-click="guardaRetencion()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar Retención
                </button>
                <button id="contunuar" name="cancelar" class="btn btn-primary" align="center"
                        ng-show="activaBotonContinua"
                        ng-click="continuarRetencion()">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;Continuar
                </button>
                <button id="cancelar" name="cancelar" class="btn btn-default" align="center"
                        ng-click="cancelarRetencion()">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Salir
                </button>
            </div>
        </div>
        <!--fin panel body-->
    </div>
    <!--fin panel primary-->
</div>
<!--fin contenedor-->
