<!-- todo : aniadir estilo patito-->
<div class="alert-warning">
  <div class="modal-header" >
    <!--{{modalOptions.headerText}}-->
    {{modalOptions.headerText}}
  </div>
  <div class="modal-body">
    <!--{{modalOptions.bodyText}}-->
    <i class="fa fa-exclamation-triangle"></i> {{modalOptions.bodyText}}
    <!--<button type="button"
            ng-if="modalOptions.type == 'error'"
            class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i></button>
    <button type="button"
            ng-if="modalOptions.type == 'exito'"
            class="btn btn-success btn-circle"><i class="glyphicon glyphicon-ok"></i></button>&nbsp;&nbsp;{{modalOptions.bodyText}}.-->
  </div>
  <div class="modal-footer">
    <button ng-click="modalOptions.ok();"
            class="btn btn-success">
      {{modalOptions.actionButtonText}}
    </button>
    <button ng-click="modalOptions.close();"
            class="btn btn-default">
      {{modalOptions.cancelButtonText}}
    </button>
  </div>
</div>
